<main>
	<div class="container px-5 px-sm-0">
	  <div class="row">
			<%#サイドバー%>
			<%= render 'users/sidebar', user: @user, book: @book %>
			<%#投稿一覧%>
			<div class="col-md-8 offset-md-1">
				<%= render 'books/index', books: @books %>
				<%= paginate @books %>
				<h3>投稿数の前日比・前週比</h3>
				<table class="table table-bordered">
			    <thead>
			      <tr>
			      	<th>今日の投稿数</th>
			      	<th>前日の投稿数</th>
			      	<th>前日比</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			     　 <td><%= @today_book.count %></td>
			     　 <td><%= @yesterday_book.count %></td>
			     　 <td>
			        	<% if @yesterday_book.count == 0 %>
			            前日の投稿はありません
			       		<% else %>
			       　		<% @the_day_before =   @today_book.count / @yesterday_book.count.to_f  %>
			       　		<%= (@the_day_before * 100).round %>
			          <% end %>
			        </td>
			      </tr>
			    </tbody>
			  </table>
				<table class="table table-bordered">
			    <thead>
			      <tr>
			      	<th>今週の投稿数</th>
			      	<th>前週の投稿数</th>
			      	<th>前週比</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			     　 <td><%= @thisweek_book.count %></td>
			     　 <td><%= @lastweek_book.count %></td>
			     　 <td>
			        	<% if @lastweek_book.count == 0 %>
			            前週の投稿はありません
			       		<% else %>
			       　		<% @the_week_before =   @thisweek_book.count / @lastweek_book.count.to_f  %>
			       　		<%= (@the_week_before * 100).round %>
			          <% end %>
			        </td>
			      </tr>
			    </tbody>
			  </table>
			  <h3>7日間分の投稿数</h3>
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			      	<th>6日前</th>
			      	<th>5日前</th></th>
			      	<th>4日前</th>
			      	<th>3日前</th>
			      	<th>2日前</th>
			      	<th>昨日</th>
			      	<th>今日</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			     　 <td><%= @six_days_ago_book.count %></td>
			     　 <td><%= @five_days_ago_book.count %></td>
			     　 <td><%= @four_days_ago_book.count %></td>
			     　 <td><%= @three_days_ago_book.count %></td>
			     　 <td><%= @two_days_ago_book.count %></td>
			     　 <td><%= @yesterday_book.count %></td>
			     　 <td><%= @today_book.count %></td>
			      </tr>
			    </tbody>
			  </table>
			  <canvas id="booksChart"></canvas>
			  <script>
					var ctx = document.getElementById("booksChart").getContext('2d');
				  var myChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				      labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
				      datasets: [{
				        label: '投稿した本の数',
				        data: [
				        	<%= @six_days_ago_book.count %>,
				        	<%= @five_days_ago_book.count %>,
				        	<%= @four_days_ago_book.count %>,
				        	<%= @three_days_ago_book.count %>,
				        	<%= @two_days_ago_book.count %>,
				        	<%= @yesterday_book.count %>,
				        	<%= @today_book.count %>
				        ],
				        backgroundColor: 'rgba(255, 80, 120, 1.0)',
				    		borderColor: 'rgba(0, 0, 255, 1)',
						    fill: false
				      }]
				    },
				    options: {                             //◆オプション
            	responsive: true,                  //グラフ自動設定
            	legend: {                          //凡例設定
              	display: false                 //表示設定
           		},
            	title: {                           //タイトル設定
              	display: true,                 //表示設定
              	fontSize: 18,                  //フォントサイズ
              	text: '7日間の投稿数の比較'                //ラベル
            	},
            	scales: {                          //軸設定
              	yAxes: [{                      //y軸設定
                 	display: true,             //表示設定
                 	scaleLabel: {              //軸ラベル設定
                   	display: true,
                 	},
	                ticks: {                      //最大値最小値設定
	                  min: 0,                   //最小値
	                  max: 10,
	                },
               	}],
            	},
				    },
				  });
				</script>
				<%#日付検索機能%>
				<h3>投稿数検索（日付）</h3>
				<%= form_with url: user_search_path(@user), method: :get do |f| %>
				  <%= f.date_field :created_at %>
				  <%= f.submit '検索', class: 'btn btn-primary'  %>
				<% end %>

				<div id="search_result">
				  <% if @search_book.present? %>
				    <%= render 'search', search_book: @search_book %>
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</main>