<%#サイドバー%>
<%= render './users/sidebar', user: @user, book: @book %>

<div>
  <h2>Book detail</h2>
  <p>title：<%= @book.title %></p>
  <p>説明：<%= @book.body %></p>
  <p>投稿日時：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?" %>
  <% end %>
</div>